<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
    <link rel="stylesheet" href="/css/style.css">
    <title>MyYahoo - Seus portal de perguntas e respostas anônimas</title>
</head>
<body class="brown lighten-4">
    <nav class="teal darken-2">
        <div class="nav-wrapper teal darken-2 container">
            <a th:href="@{/}" class="brand-logo right">My Yahoo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a th:href="@{/}">Início</a></li>
                <li><a>Mais Vistas</a></li>
                <li><a>Categorias</a></li>
                <li><a asp-action="About">Sobre</a></li>
            </ul>
        </div>
    </nav>

    <div layout:fragment="content"></div>


   <script th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js}"></script>
</body>
</html>