<html layout:decorate="layout">

    <div class="container" layout:fragment="content">
        <div class="card">
            <a asp-controller="Home" th:href="@{/criar/}" class="btn waves-effect"><i class="material-icons right">add</i> Criar Pergunta</a>
            <div class="card-content">
                <div class="container">
                    <!--  for loop-->

                        <div class="card row" th:each="question : ${questions}">
                            <div class="col s4">
                                <span style="text-align: center;">
                                    <img src="/images/index.png" alt="" width="70%">
                                </span>
                            </div>
                            <div class="col s8">
                                <span class="card-title center">
                                    <h6 th:text="${question.title}"></h6>
                                </span>
                                <div class="card-content">
                                    <p th:text="${question.description}"></p>
                                </div>
                            </div>
                            <div class="col s12">
                                <a th:href="@{|/detalhe/${question.slug}|}" class="btn waves-effect center">
                                    <i class="material-icons right">arrow_forward</i> Saber mais
                                </a>
                            </div>
                        </div>

                    <!--  for loop-->
                    
    
                    <!-- pagination -->
                </div>
            </div>
        </div>

    </div>

</html>